<!-- TODO: implement data sync with selected card. -->
<div class="interactions">
  <a href="#" class="purchase_url">BUY GAME</a>
  <a href="#" class ="trailer_url">WATCH TRAILER</a>
  <!-- TODO: implement favorite button interaction and list. -->
  <button>Favorite</button>
</div>
<div class="games_catalog">
  <div class="navigation_buttons">
    <button class="left_arrow"><</button>
    <button class="right_arrow">></button>
  </div>
  <p>Catalog</p>
  <div class="cards_array">
    <!--  TODO: implement games card array. -->
    @for(game of gameData | async; track game.id) {
      <mat-card class="card" appearance="outlined">
        <img mat-card-image [src]="game.imageUrl | sanitizeUrl">
      </mat-card>
    }
  </div>
</div>
